[user]
	name = "Ryohei Morita"
	email = "ryhmrt@gmail.com"
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
	b = branch
	ci = commit
	st = status
	co = checkout
	f = fetch
	pr = pull --rebase
	d = diff
	dc = diff --color-words
	l = log
[core]
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
